footer {
    background-color: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.bottom-list li{
    display: inline;
    width: auto;
    padding: 6px;
}

.bottom-list {
    padding-left: 480px;
}