.register{
    width:500px;
    margin:0 auto;
}

.register-logo {
    max-height: 240px;
    overflow: hidden;
    position: relative;
    bottom: 10px;
    width: 200%;
    color: white;
    padding: 2px;
    margin: 0 auto;
    font-size: 90%;
}